<div class="container"> 
    <div>
        Heloo
    </div>
    <div class="ctrls ctrls-guest" *ngIf="!(authState | async)?.isLogged">
        <button
            nz-button
            nzType="default"
            (click)="showModal()">
                <i nz-icon nzType="login" nzTheme="outline"></i> Login
        </button>
    </div>
    <div class="ctrls ctrls-guest" *ngIf="(authState | async)?.isLogged">
        <button
            nz-button
            nzType="default"
            nzShape="circle"
            size="large"
            nz-dropdown
            [nzDropdownMenu]="menu">
                <i nz-icon nzType="user" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <span nz-menu-item nzDanger (click)="logout()">
                  <i nz-icon nzType="logout" nzTheme="outline"></i> Logout
                </span>
            </ul>
          </nz-dropdown-menu>
    </div>
</div>



<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Login" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <nz-alert
            *ngIf="(error | async)?.length"
            nzType="error"
            [nzMessage]="error | async"></nz-alert>

        <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input placeholder="Username" [(ngModel)]="username"/>
        </nz-input-group>
        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>

        <nz-input-group [nzPrefix]="prefixPassword">
            <input type="text" nz-input placeholder="Password" type="password" [(ngModel)]="password"/>
        </nz-input-group>
        <ng-template #prefixPassword><i nz-icon nzType="unlock"></i></ng-template>

    </ng-container>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="login()">Login</button>
    </ng-template>
</nz-modal>